/** ABOUT SECTION OF ABOUT PAGE **/

#about article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0em 20em;
}

#about article h2 {
    color: black;
    width: 90%;
    margin: 1em auto 1em auto;
    font-size: 2em;
    font-weight: normal;
}

#about article p {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    text-align: justify;
    font-size: 1.1em;
}

#about article p:last-child {
    margin-bottom: 1em;
}