/** ABOUT SECTION OF ABOUT PAGE **/
#about article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#about article h2 {
    color: #12197a;
    width: 90%;
    margin: 1em auto 1em auto;
}

#about article p {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0.5em;
    text-align: justify;
}

#about article p:last-child {
    margin-bottom: 1em;
}