/** ABOUT SECTION OF ABOUT PAGE **/
#about article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.5px solid black;
}

#about article:first-of-type {
    border-top: 0.5px solid black;
}

#about article h2 {
    padding-left: 1em;
    color: #12197a;
}

#about article p {
    padding-left: 1em;
    text-indent: 2em;
}