/** CHANGE PROFILE PAGE STYLE **/
/** This page is equal to the user page but there are inputs to change the user profile **/

/*Background*/
body {
    background: url("../images/user_lake.jpg") no-repeat center center fixed;
    background-size: cover;
}


/*User data*/
#user_info {
    min-width: max-content;
}

#user_info #fit_crop {
    display:grid;
    width:160px;
}

#user_info #fit_crop p {
    visibility:hidden;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    cursor: pointer;
    margin: 1em;
    text-align: center;
    color: #2e3c49;
}

#user_info #fit_crop:hover p{
    visibility:visible;
}

#user_info #fit_crop img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
}

#user_info #fit_crop img:hover {
    filter: blur(2px);
    cursor: pointer;
}

#user_info #full_name {
    color: #12197a;
}

input {
    background-color: inherit;
    font: inherit;
    border: 1px;
    border-radius: 0.3em;
}

[type="date"] {
    text-align: center;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;    
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#user_info [type="email"] {
    width: 80%;
}

/*Update profile button*/
.account_button {
    background: #39409e;
    color: #ffffff;
    margin: 0em 1em 2em 2.5em;
    height: 40px;
    width: 150px;
    grid-column: 1;
    grid-row: 4;
    align-self: end;
}

.account_button:hover {
    background: #12197a;
    cursor: pointer;
}

/**Hide upload image input**/
#upload_image_form {
    display: none;
}

/*Update password*/
#update_profile_form #pass_info {
    grid-column: 2;
    grid-row: 4;
    margin-left: 1em;
}

#update_profile_form #pass_info input {
    display: flex;
    width: 80%;
    padding: 1em;
    margin-bottom: 1em;
    border: solid #12197a;
}