
/*Main*/
#main_form_section {
    display: grid;
    grid-template-rows: auto 0.1fr 0.5fr 0.1fr;
    grid-template-columns: 0.8fr 1.2fr 1.2fr 0.8fr;
}

/*Register new properties*/
#rentify_form_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 2em 1.5em 2em;
    background: #F5F4F3;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 1em;
}

#rentify_form_section .rentify_box {
    text-align: left;
}

#rentify_form_section .rentify_box div{
    padding: 0em 3em 1em 2em;
}

#rentify_form_section h2 {
    color: #39409e;
    text-align: left;
}

#rentify_form_section #upload_image_form {
    padding: 2em;
}

#rentify_form_section #upload_image_form input{
    padding: 0%;
    width: 90%;
}

#rentify_form_section #upload_image_form [type="submit"] {
    height: 3em;
    background: #39409e;
    color: white;
    border: none;
}

#rentify_form_section #upload_image_form [type="submit"]:hover {
    background: #12197a;
    cursor: pointer;
}

#rentify_form_section .title {
    padding:0.5em;
}

#rentify_form_section .location {
    padding:0.5em;
}

#rentify_form_section .sleeps {
    padding:0.5em;
}

#rentify_form_section .price {
    padding:0.5em;
}

#rentify_form_section .description {
    padding:0.5em;
}

#rentify_form_section .rentify_button {
    background: #39409e;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    margin-top: 1em;
    height: 25px;
    width: 80px;
    float: right;
}

#rentify_form_section .rentify_button:hover {
    background: #12197a;
    cursor: pointer;
}

#rentify_form_section input {
    width: 100%;
    border: 2px solid #92aedd;
    border-radius: 4px;
}

#rentify_form_section .rentify_button {
    border: none;
}


#rentify_form_section .rentify_box .link_to {
    text-align: left;
}

#rentify_form_section .rentify_box .link_to a{
    color: black;
}