/* Main color */
body {
    background-color: rgb(203, 219, 235);   
    margin: 0;
    
    display: grid;
    grid-template-rows: [header] auto [nav] auto [properties] 1fr [footer] auto [end];
}

/* Header Layout */
body > header {
    display: grid;
    grid-template-columns: 6fr 1fr;
    height: 100px;
}

body > header h1 {
    grid-column: 1;
}

body > header #signup {
    grid-column: 2;
    align-self: center;
}

body > header #user_badge {
    font-size: 1.3em;
}

.dropdown {
    grid-column: 2;
    align-self: center; 
}

.dropdown .dropdown_button {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown_content a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}


