/* Main color */
body {
    background-color: #F5F4F3;   
    margin: 0;
    height: 100vh;
    
    display: grid;
    grid-template-rows: [header] auto [nav] auto [properties] 1fr [footer] auto [end];
}


/* Header Layout */
body > header {
    height: 3.0em;
}

body > header h1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    padding-left: 0.3em;
    padding-right: 0.3em;
}

body > header #signup {
    grid-column: 3;
    grid-row: 2;
}

body > header #user_photo {
    width: 40px;                 /* CHANGE */
    border-radius: 50%;
    align-self: center;    
}

body > header #user_badge {
    font-size: 1.1em;
    color: black;
}

.dropdown {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 0.1fr;
    justify-items: start;

    margin-right: 3em;
}

.dropdown .dropdown_button {
    width: 190px;
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    text-align: left;
}

.dropdown_content {
    display: none;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0);
    z-index: 1;
    grid-row: 3;
    grid-column: 2;
}
  
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown_content a:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}


