/** USER PAGE STYLE **/

/*Background*/
body {
    background-color: #e5edee;
}

#profile{
    padding: 0 4em; 
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 0;
}

/*User data*/
#user_info h2 {
    color: #12197a;
}

/***********************/
/** User reservations **/
/***********************/

#user_reservations {
    padding: 0em 4em 3em 4em; 
    margin: 0em 3em 3em 3em;
}

#user_reservations h3 {
    padding-left: 0.5em;
    font-size: 2em;
    font-weight: lighter;
}

#user_reservation {
    padding: 1em 1em 2em 2em; 
    border: 0.1em solid #2e3c49;
    border-radius: 0.5em;
    margin: 0em 1em 1em 1em;
    background: #F5F4F3;
    color: #536a91;
}

#user_reservation h4 {
    color: black;
}

/******************/
/** Profile data **/
/******************/

#user_info {
    display: grid;
    grid-template-columns: 0.4fr auto;
    grid-template-rows: auto;
    margin-left: 8em;
    margin-top: 2em;
    max-width: 60%;
    border: 0.1em solid #2e3c49;
    border-radius: 0.5em;
    background: #F5F4F3;
    padding-bottom: 1em;
}

#user_info #fit_crop {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    max-height: 160px;
    width: 160px;
    overflow: hidden;
    margin: 2em 2em 0em 2em;
    border: 0.1em solid #2e3c49;
    border-radius: 0.2em;
}

#user_info img {
    width: 160px;
}

#user_info #headers {
    margin-top: 16px; 
    grid-column: 2;
    grid-row: 1;
}

#user_info h2 {
    margin: 16px 16px 0px 16px;
}

#user_info h3 {
    margin: 0px 16px 0px 16px;
    color: #2e3c49;
}

#user_info h3 input{
    min-width:50px;
    max-width:460px;
    text-align:center;
}

#user_info #email {
    grid-column: 2;
    grid-row: 2;
    margin: 0px 32px 0px 16px;
    color: #2e3c49;
}

#user_info #phone {
    grid-column: 2;
    grid-row: 3;
    margin: 0px 0px 0px 16px;
    color: #2e3c49;
}

#user_info #birthdate {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    color: #2e3c49;
}