/*Background*/
body {
  background-color: #e6e6e6;
}

/*Not found*/
#not_found {
  height: 100%;
}

/*MAIN*/
#property {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#property #slideshow {
  grid-column: 1;
  grid-row: 1;
}

#property #main_info {
  grid-column: 1;
  grid-row: 3;
  padding: 20px;
  padding-top: 20px;
  margin: 60px;
  margin-left: 100px;
  margin-top: 100px;
  border: solid #2e3c49;
  border-radius: 0.5em;
  background: whitesmoke;
  color: #2e3c49;
}

#property #reservation_info {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 2em;
  font-size: 1.5em;
  color: #2e3c49;
  background: whitesmoke;
  border-bottom: 0.05em solid #2e3c49;
}

#property #comodities {
  grid-column: 2;
  grid-row: 3;
  padding: 20px;
  margin: 60px;
  margin-right: 100px;
  margin-top: 100px;
  border: solid #2e3c49;
  border-radius: 0.5em;
  background: whitesmoke;
  color: #2e3c49;
}

#property #comodities h3 {
  color: black;
}

#property #price {
  display:flex;
}

#property #price p {
  margin: 0%;
  margin-left: 1em;
  align-self: center;
}

#property #price h3 {
  margin: 0%;
  color: black;
}

#property #rating {
  margin-top: 1em;
}

#property #rating legend{
  color: black;
}

#property #rating p{
  padding-left: 0.5em;
  margin-top: 0.2em;
}

#property #dates form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  width: 100%;
}

#property #dates legend{
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  color: black;
}

#property #dates [type="date"] {
  height: 5em;
  border: 0.1em solid #2e3c49;
  text-align: center;

}

#property #dates [name="start_date"] {
  grid-column: 1;
  grid-row: 2;
  border-right: 0.05em solid #2e3c49;
  border-radius: 0.5em 0 0 0.5em;
}

#property #dates [name="end_date"] {
  grid-column: 2;
  grid-row: 2;
  border-left: 0.05em solid #2e3c49;
  border-radius: 0 0.5em 0.5em 0;
}

#property #dates [type="number"] {
  margin-top: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
  padding: 0%;
  border: 0.1em solid #2e3c49;
  text-align: center;
  height: 3em;
  border-radius: 0.5em;
}

#property #dates [type="submit"] {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 4;
  margin-top: 1em;
  height: 3em;
  border-radius: 0.3em;
  border: 0.1em solid #2e3c49;
  background: rgba(146, 174, 221, 0.7);
  color: black;
}

#property #dates [type="submit"]:hover {
  cursor: pointer;
  background: rgba(103, 123, 158, 0.7);
}

#comments {
  background-color: whitesmoke;
  margin-left: 100px 100px 100px 0;
  padding: 2em;
  padding-top: 1em;
  border-radius: 0.5em 0.5em 0 0;
  border: solid #2e3c49;
}

#comments p {
  color: #2e3c49;
}

/*SLIDESHOW*/
#slideshow {
  background-color: whitesmoke;
}

#slideshow img {
  width: 100%;
  min-width: 850px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  height: 505px;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3) */
.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots */
.dots {
  text-align: center;
  grid-column: 1;
  grid-row: 2;
  border-bottom: 0.1em solid #2e3c49;
  padding-top: 1em;
  padding-bottom: 1.8em;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  background-color: #2e3c49;
  transition: background-color 0.5s ease-out;
}

.active, .dot:hover {
  transition: background-color 0.5s ease-in;
  background-color: rgb(190, 190, 190);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Edit Property Link */
#change_property_link {
  text-decoration: none;
  color: inherit;
}

#change_property {
  border: solid #2e3c49;
  border-radius: 0.5em;
  background: white;
}

#change_property p{
  padding: 5px;
  margin: auto;
  color: #777cc9;
  text-align: center;
}

#change_property:hover {
  background: whitesmoke
} 

/* Not Found Message */
#not_found {
  width: 30em;
  background-color: #777cc9;
  border: 2px solid #0b116b;
  border-radius: 0.5em;
  margin: auto;
  display: grid;
}

#not_found img {
  max-width: 25em;
  margin: auto;
}

#not_found p {
  width: 90%;
  text-align: center;
  border: 2px solid #0b116b;
  border-bottom: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 1.5em;
}