#search_bar h1 {
    color: #fff;
    letter-spacing: 2px;
    z-index: 2;
}

.search_box .location, .search_box .date {
    height: 50px;
    padding: 0px;

    text-align: center;

    border-radius: 5px;
    border: 1.2px solid rgb(195, 197, 193);
}

.search_box .location {
    width: 300px;
}

.search_box .date {
    width: 150px;
}

.search_box .search_button {
    height: 52px;
    width: 100px;
    padding: 0em;

    background: #3542f0;
    color: #ffffff;

    border-radius: 5px;
    border: 1.2px solid rgb(195, 197, 193);    
}

.search_box .search_button:hover {
    background: #12197a;
    cursor: pointer;
}

.search_box {
    background-color: rgba(5, 6, 43, 0.5);  
    padding: 20px 30px;

    border-radius: 15px;    
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}
    
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}