#search_bar h1 {
    color: #fff;
    letter-spacing: 2px;
    z-index: 1;
}

.search_box .location, .search_box .date, .search_box .guests {
    height: 50px;
    padding: 0px;

    text-align: center;

    border-radius: 5px;
    border: 1.2px solid #FFFFFF;
}

.search_box .location {
    width: 300px;
}

.search_box .date {
    width: 150px;
}

.search_box .guests {
    width: 50px;
}

.search_box .search_button {
    height: 52px;
    width: 100px;
    padding: 0em;

    background: #3542f0;
    color: #ffffff;

    border-radius: 5px;
    border: 1.2px solid rgb(195, 197, 193);    
}

.search_box .search_button:hover {
    background: #12197a;
    cursor: pointer;
}

.search_box {
    background-color: rgba(5, 6, 43, 0.5);  
    padding: 20px 30px;

    border-radius: 15px;    
}

.guests[type=number]::-webkit-inner-spin-button, 

.guests[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}