/*Main*/


/*Not found*/
#not_found {
    width: 50%;
    margin: 1em auto 1em auto ;
    display: grid;
}

#not_found img {
    margin: 0 auto;
}

#not_found p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
}