#search_bar h1 {
    color: #fff;
    letter-spacing: 2px;
    z-index: 2;
}

.search_box .location, .search_box .date {
    height: 50px;
    padding: 0px;
    text-align: center;
}

.search_box .location {
    width: 300px;
}

.search_box .date {
    width: 150px;
}

.search_box .search_button {
    height: 50px;
    width: 100px;
    background: #39409e;
    padding: 1em;
    color: #ffffff;
}

.search_box .search_button:hover {
    background: #12197a;
    cursor: pointer;
}

.search_box {
    background-color: rgba(5, 6, 43, 0.5);  
    padding: 20px 30px;
}