/*Background*/
body {
    background-color: #e6e6e6;
}

/*Search bar*/
#search_bar {
    text-align: center;
}

#search_bar h1 {
    font-size: 30px;
    background: #2e3c49;
    font-weight: lighter;
    padding: 1em;
    margin: 0;
    
    display: none;
}

/*Not found*/
#not_found {
    width: 50%;
    margin: 1em auto 1em auto ;
    display: grid;
}

#not_found img {
    margin: 0 auto;
}

#not_found p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    color: #92aedd;
}