/* Header Style */
body > header {
    background-color: #fff;
    color: white;
    padding: 1em;
}

body > header h1 {
    margin: 0;
}
  
body > header a {
    color: #3542f0;
    font-weight: lighter;
    text-decoration: none;  
}

#signup a:first-child {
    border-right: 1.5px solid black;
    padding-right: 0.3em;
}

/* Fonts */

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

header h1 {
    font-size: 3em;
}

header #signup {
    font-size: 1.3em;

}

header #signup a {
    color: black;
}

/* Menu layout */

#menu {
    display: none;  /** TEMPORARY **/
}

#menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0%;
}
  
#menu li {
    display: block;
    flex: 1;
}

/* Menu */

#menu { 
    background-color: #2e3c49;
    padding: 0.1em;
    text-align: center;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
}