/* Header Style */
body > header {
    background-color: #F5F4F3;
    padding: 1em;
}

body > header h1 {
    margin: 0;
}
  
body > header a {
    color: #3542f0;
    font-weight: lighter;
    text-decoration: none;  
    outline: none;
}

#signup a:first-child {
    border-right: 1.5px solid black;
    padding-right: 0.3em;
}

/* Fonts */

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
}

body h1, body h2 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: black;
    font-weight: lighter; 
}

header h1 {
    font-size: 2.5em;
}

header #signup {
    font-size: 1.1em;

}

header #signup a {
    color: black;
}

#footer {
    font-family: "Helvetica";
}

/* Footer Layout*/

html {
    height: 100%;
}

#footer {
    display: grid;
    grid-template-columns: auto 0.1fr;
    background-color: #2e3c49;
    padding: 0.2em;
    text-align: center;
    margin: 0;
    height: 3em;
    align-self: end;
}

#footer p {
    grid-column: 1;
    text-align: left;
    margin-left: 5em;
}

#footer ul {
    display: flex;
    grid-column: 2;
    flex-direction: row;
    padding-left: 0%;
    text-align: right;
    margin-right: 5em;
}

#footer li {
    display: block;
    flex: 1;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 1em;
}

#footer li:first-of-type {
    border-right: 1px solid white;
}

#footer a {
    color: white;
    text-decoration: none;
}
