/*Background*/
body {
    background-color: #e5edee;
}

/*Tourists reservations*/
#tourists_reservations {
    padding: 1em 2em 2em 2em;
    margin: 1em 3em 3em 3em;
}

#tourists_reservations a {
    text-decoration: none;
}

#tourists_reservations h3 {
    color: rgb(7, 8, 54);
    padding-left: 2em;
    font-size: 1.5em;
}

#tourist_reservation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em 2em 2em 2em; 
    border: solid #2e3c49;
    border-radius: 0.5em;
    margin: 3em 3em 3em 3em;
    background: whitesmoke;
    color: #2e3c49;
    min-width: 600px;
}

#tourist_reservation h4 {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

#tourist_reservation #property_info {
    grid-row: 1;
    grid-column: 1;
}

#tourist_reservation #user_contacts {
    grid-row: 1;
    grid-column: 2;
}

#tourist_reservation #user_image {
    grid-row: 1;
    grid-column: 3;
    height: 50%;
    border: solid;
    border-radius: 50%;
    align-self: center;
}

#tourist_reservation #other_info {
    grid-row: 2;
}