/*Background*/
body {
    background-image: url("../Images/login_mountain.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*Main*/
#main_login {
    display: grid;
    grid-template-rows: auto 0.1fr 0.5fr 0.1fr;
    grid-template-columns: 1fr auto auto 1fr;
}

/*Menu*/
#menu {
    filter: opacity(0.2);
    transition: all .8s ease-in-out;
}

#menu:hover {
    filter: none;
}

/*Search bar*/
#search_bar {
    filter: opacity(0.5);
    transition: all .8s ease-in-out;
    padding-top: 1em;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    z-index: 1;
}

#search_bar:hover {
    filter: none;
}

/*Login*/
#login {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5em 2.5em 2em 2.5em;
    background: white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    border-radius: 1em;
}

#login h2 {
    color: #39409e;
    text-align: left;
}

#login .username {
    padding:0.5em;
}

#login .password {
    padding:0.5em;
}

#login .login_button {
    background: #39409e;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    margin-top: 2em;
    height: 25px;
    width: 80px;
}

#login .login_button:hover {
    background: #12197a;
    cursor: pointer;
}