/* Main Page Image */
#search_bar {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

#search_bar h2 {
    position: absolute;
    color: white;
    text-shadow: rgba(236, 146, 12, 0.904) 0em 0em 1em;
    font-size: 3em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

#search_bar img {
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#search_bar div {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Recommended Houses */
#recommended {
    display: block;
    width: 80%;
}

#recommended ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

#recommended ul li {
    list-style-type: none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

#recommended ul li:first-child {
    border-left: 1px solid gray;
}

#recommended ul li{
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
} 

#recommended ul li article img {
    height: 7.5em;
    margin: 0 auto;
}