/*
#search_bar div { 
    border: solid;
    border-color: gray;
    width: 50%;
    margin: 0 auto;
}

#search_bar form {
    display: grid; 
    grid-template-columns: 3fr 3fr 3fr 1fr;
}

#search_bar form input {
    padding: 0;
    border: 0.1px solid gray;
}
*/






/*
#search_bar {
    width: 20em;
    display: block;
    padding: 3em;
    background-color: #ececec;
}

.search_fields{
    display: block;
}

.search_fields_inner{
    text-align: center;
}

.search_field_destination{
    padding: 0.4em;
}

.search_field_dates {
    padding: 0.4em;
}

.search_button{
    width: 100%;
    text-align: center;
    padding: 0.4em;
}
*/

/*
#search_bar {
    width: 100%;
    padding: 3em;
    background-color: #ececec;
}

.search_fields {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "destination destination"
                         "from to";
}

.search_fields_inner{
    text-align: center;
}

.search_field_destination{
    grid-row: 1;
    padding: 0.4em;
    grid-area: destination;
}

.search_field_dates {
    grid-row: 2;
    padding: 0.4em;
}

.search_field_dates :nth-child(1){
    grid-area: from;
}

.search_field_dates :nth-child(2){
    grid-area: to;
}

.search_field_date {
    width: 40%;
}

input.date {
    width:6em;
}

.search_button{
    grid-row: 3;
    width: 100%;
    text-align: center;
    padding: 0.4em;
}
*/

#search-bar h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
    font-size: 45px;
    letter-spacing: 2px;
}

.search_box .location, .search_box .date {
    height: 50px;
    padding: 0px;
    text-align: center;
}

.search_box .location {
    width: 300px;
}

.search_box .date {
    width: 150px;
}

.search_box .search_button {
    height: 50px;
    width: 100px;
    background: #39409e;
    border: none;
    color: #ffffff;
}

.search_box .search_button:hover {
    background: #12197a;
    cursor: pointer;
}

.search_box {
    background: #e4e0e0;
    padding: 30px 50px;
}