/* Header Style */
body > header {
    background-color: #92aedd;
    color: white;
  
    padding: 1em;
}

body > header h1 {
    margin: 0;
}
  
body > header a {
    color: white;
    text-decoration: none;  
}

#signup a:first-child {
    border-right: 2px solid white;
    padding-right: 0.3em;
}

/* Fonts */

header h1 {
    font-size: 5em;
    font-family: "sans serif";
}

header #signup {
    font-size: 1.5em;
    font-family: "sans serif";
}

#menu {
    font-family: "Helvetica";
}

/* Menu layout */

#menu ul {
    display: flex;
    flex-direction: row;
}
  
  #menu li {
    display: block;
    flex: 1;
}

/* Menu */

#menu { 
    background-color: #2e3c49;
    padding: 0.1em;
    text-align: center;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
}